<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Block Chain Home Page</title>

    <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}

    </style>

</head>
<body>

<h1>Open Wallet</h1>
<ul>
    <li><a href="home">Home</a></li>
    <li><a href="createwallet">Create New Wallet</a></li>
    <li><a href="openwallet">Open Existing Wallet</a></li>
    <li><a href="account">Account</a></li>
    <li><a href="sendtransaction">Send Transaction</a></li>
</ul>

<h3>Open an Existing Wallet - Enter your private key (compressed ECDSA) key 65 hex digit</h3>

<form action="#" th:action="@{/wallet/openwalletresult}" th:object="${wallet}" method="post">
    <p>Enter the privateKey: <input type="text" th:field="*{from}"/></p>

    <p><input type="submit" value="Submit"/>
</form>


</body>
</html>