<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Block Chain Home Page</title>

    <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}
</style>

</head>
<body>

<h1>Create new  Wallet</h1>
<ul>
    <li><a href="home">Home</a></li>
    <li><a href="createwallet">Create New Wallet</a></li>
    <li><a href="openwallet">Open Existing Wallet</a></li>
    <li><a href="account">Account</a></li>
    <li><a href="ballance">Ballance</a></li>
    <li><a href="sendtransaction">Send Transaction</a></li>
</ul>
<h3>Generate a new wallet: random private key->
public key->address.</h3>
<form action="#" th:action="@{/wallet/createwalletresult}">

    <p><input type="submit" value="Generate Now" />
</form>
</body>
</html>